body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#db3f47;
    padding: 15px;
    color: white;
    position: relative;
}

.logo {
    max-width: 150px;
    height: 80px;
}

.icons {
    position: relative;
}

.icons span {
    margin-left: 15px;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu.active {
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu ul li:last-child {
    border-bottom: none;
}

.search-bar {
    width: 35%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.review {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);  
    width: 300px;
    height: auto;
    margin-bottom: 20px;

}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 15%;
    display: inline-block;
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.brown { background-color: brown; }

.image {
    height: 250px;
    background-color: #1f1f1f;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000;
}

.hamburger-menu.active {
    right: 0;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
}

.close-menu {
    font-size: 40px;
    cursor: pointer;
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
}

.hamburger-menu ul li {
    padding: 65px 0;
}

.hamburger-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.menu-footer {
    margin-top: auto;
    font-size: 14px;
    text-align: center;
}

.rating{
    margin-bottom: 20px;
}

.comment{
    margin-bottom: 10px;
}